<main class="main">
  <div class="content">
    <mat-card>
      <mat-card-content>Trip Planner</mat-card-content>

      <form [formGroup]="range">
        <h4>Choose a city</h4>
        <mat-form-field>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.value">{{city.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="range.get('city')?.value">
          <h4>Enter a Date Range</h4>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="start" [readonly]="true" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="true"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="todayDate"></mat-datepicker>
          </mat-form-field>
          
          
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="end" [min]="todayDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>          
          
          <div *ngIf="range.get('start')?.invalid && range.get('start')?.touched">
            <mat-error>Invalid start date</mat-error>
          </div>
          <div *ngIf="range.get('end')?.invalid && range.get('end')?.touched">
            <mat-error>Invalid end date</mat-error>
          </div>          
          
          <p>Selected range: {{range.value | json}}</p>
        </div>
      </form>

    </mat-card>
    
    <div *ngIf="data">
      <h1>Data from API:</h1>
      <pre>{{ data | json }}</pre>
    </div>

  </div>
</main>
